.manga-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em 0;
}

.manga-item {
  flex: 1 1 calc(50% - 40px);
  margin: 20px;
  box-sizing: border-box;
}

.manga-item img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.manga-item h3 {
  text-align: center;
  margin-top: 0.5em;
}
.publish-year {
  color: #555;
  font-size: 0.9em;
  margin-top: 0;
  background: #f8f9fa;
  padding: 0.5em 1em;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1em;
}
.star {
  color: grey; /* Empty star color */
}

.star.filled {
  color: orange; /* Full star color */
}

.star.half-filled::after {
  content: "☆";
  position: absolute;
  margin-left: -1em;
  color: orange; /* Half star color */
}

.manga-item img {
  transition: transform 0.3s ease;
}

.manga-item:hover img {
  transform: scale(1.05);
}

.manga-item {
}

.manga-item img {
  transition: transform 0.3s ease;
}

.manga-item:hover img {
  transform: scale(1.05);
}

.manga-item .author-name {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.25em;
}

.manga-item .synopsis {
  font-style: italic;
  color: #555;
  margin-bottom: 1em;
}

.manga-item .rating {
  margin-bottom: 0.5em;
}

.star.filled {
  color: orange;
}

.star {
  color: #ddd;
}
