.manga-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em 0;
}

.manga-item {
  flex: 1 1 calc(50% - 40px);
  margin: 20px;
  box-sizing: border-box;
}

.manga-item img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.manga-item h3 {
  text-align: center;
  margin-top: 0.5em;
}
.publish-year {
  color: #555;
  font-size: 0.9em;
  margin-top: 0;
  background: #f8f9fa;
  padding: 0.5em 1em;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 1em;
}
